*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    
}
nav{
    margin: 20px;
    background-color: rgba(184, 184, 184, 0.21);
    max-width:700px;
    width: 90%;
    height: 60px;
    border-radius: 30px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.299);
    align-items: center;
    position: fixed;
    justify-content: space-between;
    display: flex;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#buscador{
    position: relative;
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
}
#lup{
    position: absolute;
    left: 10px;
}
#bus{
    border: 0;
    height:100%;
    width: 100%;
    padding-right: 5px;
    padding-left: 30px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: white;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: #46a387;
    padding: 10px;
    
}
